*{
	padding:0;
	margin: 0;
}


#header{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding: 20px 50px;
	
     
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}
#navbar li{
	list-style: none;
	padding: 0 30px;

}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
	color: #088178;
}

.picture{
	height: 30vh;
	width:30vh;
}
.part-1{
	border:1px solid #9F8772;
	border-radius: 10px;
	padding: 20px 30px;
	border-width: 1px;
	cursor: pointer;
}
#main{
	display: flex;
	justify-content: space-between;
	padding:20px;
}
.part-1 h1{
	font-size: 15px;
	font-weight: 500px;
	padding-bottom: 4px;
}
.btn:hover{
	background-color: #088178;
}

.btn{
	padding: 2px 4px;
	color: #665A48;
    
}


#newsletters
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-image: url("img/banner/b14.png");
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
	padding: 38px 30px;
}
#newsletters h4{
	font-size: 22px; 
	font-weight: 700;
	color: #fff;
}

#newsletters p{
	font-size: 14px;
	font-weight: 600;
	color: #818ea0;
}
#newsletters p span{
	color: #ffbd27;
}
#newsletters input{
	height: 3.125rem;
	font-size: 14px;
	width: 100%;
	border:1px solid transparent;
	border-radius: 4px;
	outline: none;
	padding: 0 1rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;


}
#newsletters button{
	background-color: #088178;
	color: #fff;
	white-space:nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

}
#newsletters .form{
	display: flex;
	width: 40%;
}

#main-login{
	font-size: 2rem;
}
th ,td{
	padding: 10px;
	text-align: center;
}

td input{
	width:50px;
}

table{
	width: 100%;
}

th{
	background-color: #3F0071;
}
td{
	background-color: #D8D9CF;
}